<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    <title>@ViewData["Title"] - KonstantinHVACweb</title>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link href="~/content/css/bootstrap/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/content/site.css" rel="stylesheet" asp-append-version="true" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
</head>
<body>

    @*<partial name="_CookieConsentPartial" />*@

    <!-- Navigation -->
    <nav class="navbar bg-dark navbar-dark navbar-expand-lg fixed-top">

        <div class="container">

            <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/content/images/avk_dizains_logo.svg" alt="HVAC" title="HVAC" /></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link @(ViewBag.Current == "Index" ? "active" : "")" href="@Url.Action("Index","Home")" target="_self">Home</a></li>
                    <li class="nav-item"><a class="nav-link @(ViewBag.Current == "About" ? "active" : "")" href="@Url.Action("About","Home")" target="_self">About</a></li>
                    <li class="nav-item"><a class="nav-link @(ViewBag.Current == "Services" ? "active" : "")" href="@Url.Action("Services","Home")" target="_self">Services</a></li>
                    <li class="nav-item"><a class="nav-link @(ViewBag.Current == "Projects" ? "active" : "")" href="@Url.Action("Projects","Home")" target="_self">Projects</a></li>
                    <li class="nav-item"><a class="nav-link @(ViewBag.Current == "Contact" ? "active" : "")" href="@Url.Action("Contact","Home")" target="_self">Contact Us</a></li>
                </ul>
            </div>

        </div>
    </nav>
    <!-- End Navigation -->

    <div id="main">
        @RenderBody()
    </div>

    <!-- Start Footer -->

    <footer>
        <div class="container">
            <div class="row text-light text-center py-2 justify-content-center">

                <div class="col-sm-10 col-md-8 col-lg-6">
                    <img src="~/content/images/avk_dizains_logo.svg" alt="" />
                    <p>AVK Dizains, Riga, Latvia, <a href="mailto:Support@example.com">konstantin.hvac@gmail.com</a></p>
                    <ul class="social pt-3">
                        <li><a href="" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <script src="~/scripts/jquery/jquery-3.5.1.js"></script>
    <script src="~/scripts/bootstrap/bootstrap.js"></script>
    <script src="~/scripts/fontawesome/fontawesome.js"></script>

    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                $('nav').toggleClass('scrolled', $(this).scrollTop() > 100);
            });
        });</script>


    <!-- End Script Source Files -->
    @RenderSection("Scripts", required: false)
</body>
</html>
