<nav class="navbar bg-dark navbar-dark navbar-expand-lg fixed-top">
	<div class="container">
		<a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/content/images/Avkdizains-logo.svg" alt="HVAC" title="HVAC" /></a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" id="myBtn">
			<span class="navbar-toggler-icon"></span>
		</button>
		@{
				var path = Context.Request.Path.Value.MyToStringTrimLower();
		}
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link @((path == "/" || path == $"/{Identity.User.Language.IsoCode}" || path.Contains("index")) ? "active" : "")" href="@Url.Action("Index", "Home")" target="_self">Home</a></li>
				<li class="nav-item"><a class="nav-link @(path.Contains("about") ? "active" : "")" href="@Url.Action("About","Home")" target="_self">About</a></li>
				<li class="nav-item"><a class="nav-link @(path.Contains("services") ? "active" : "")" href="@Url.Action("Services","Home")" target="_self">Services</a></li>
				<li class="nav-item"><a class="nav-link @(path.Contains("projects") ? "active" : "")" href="@Url.Action("Projects","Home")" target="_self">Projects</a></li>
				<li class="nav-item"><a class="nav-link @(path.Contains("contact") ? "active" : "")" href="@Url.Action("Contact","Home")" target="_self">Contact Us</a></li>
			</ul>

			<div class="navbar-nav right-nav-container px-3">
				<select class="Language language" id="Language" name="Language">
					@foreach (var language in Language.AllLanguages.OrderBy(z => z.Name).ToList())
					{
						<!option value="@language.IsoCode" @(language.Id == Identity.User.Language.Id ? "selected" : "")>@language.Name</!option>
					}
				</select>
			</div>
		</div>
	</div>
</nav>